In [16]:
import numpy as  np
import pandas as pd
from sklearn import linear_model
import tensorflow

In [6]:
# đọc dữ liệu bằng pandas
train_df = pd.read_csv('./Data/california_housing_train.csv')
test_df = pd.read_csv('./Data/california_housing_test.csv')

In [28]:
# khởi tạo x_train, y_train
x_train = train_df.drop('median_house_value', axis=1 )
y_train = train_df['median_house_value']

In [8]:
x_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250
...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147

In [9]:
y_train

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [10]:
x_test = test_df.drop('median_house_value', axis=1 )
y_test= test_df['median_house_value']

In [14]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((17000, 8), (17000,), (3000, 8), (3000,))

In [18]:
#Vấn đề Nan
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

nan_model = Sequential()

In [33]:
from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()


column_names_to_normalize = ['longitude', 'latitude', 'total_rooms', 'total_bedrooms', 'population', 'households']

#>>>>>>>training<<<<

#lấy các cột cần chuẩn hóa

x_train_cols = x_train[column_names_to_normalize].values

#chuẩn hóa
x_train_cols_scaled = min_max_scaler.fit_transform(x_train_cols)

#tạo datadrame mới với các cột này
normalized_train_features = pd.DataFrame(x_train_cols_scaled,columns =column_names_to_normalize, index = x_train.index)

#gán lại cho bảng ban đầu
x_train[column_names_to_normalize] = normalized_features

In [31]:
# nháp

import pandas as pd
from sklearn import preprocessing

from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

column_names_to_normalize = ['longitude', 'latitude', 'total_rooms', 'total_bedrooms', 'population', 'households']

x = x_train[column_names_to_normalize].values

x_scaled = min_max_scaler.fit_transform(x)

normalized_features = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = x_train.index)

x_train[column_names_to_normalize] = normalized_features

In [34]:
#>>>>Dev<<<

#Lấy các cột cần chuẩn hóa
x_val_cols = x_test[column_names_to_normalize].values